{% extends "resources/base.html" %}
{% block head %}
{% load staticfiles %}
<title>预警系统</title>
<link href={% static "css/style.css" %} rel="stylesheet" type="text/css" />
   <script src="/static/MochiKit/MochiKit.js" type="text/javascript"></script>
   <script src="/static/PlotKit/excanvas.js" type="text/javascript"></script>
   <script src="/static/PlotKit/Base.js" type="text/javascript"></script>
   <script src="/static/PlotKit/Layout.js" type="text/javascript"></script>
   <script src="/static/PlotKit/Canvas.js" type="text/javascript"></script>
   <script src="/static/PlotKit/SweetCanvas.js" type="text/javascript"></script>   
{% endblock %}

{% block body %}
{% load open_news_extras %}
<dl class="bar top">
	<dt><img src="static/images/logo01.jpg" width="290" height="46" /></dt>
    <dd>
    	<span>当前用户</span><font>{{user}}</font><span><a href="/logout">退出</a></span>
	<td align="middle" width="200" bgcolor="#e6e0e4"> <script language="JavaScript" type="text/javascript">
	todayDate = new Date();
	date = todayDate.getDate();
	month= todayDate.getMonth() +1;
	year= todayDate.getYear();
	if(navigator.appName == "Netscape")
	{
	document.write(1900+year);
	document.write("年");
	document.write(month);
	document.write("月");
	document.write(date);
	document.write("日");
	document.write(" ")
	}
	if(navigator.appVersion.indexOf("MSIE") != -1)
	{
	document.write(year);
	document.write("年");
	document.write(month);
	document.write("月");
	document.write(date);
	document.write("日");
	document.write(" ")
	}
	if (todayDate.getDay() == 5) document.write("星期五")
	if (todayDate.getDay() == 6) document.write("星期六")
	if (todayDate.getDay() == 0) document.write("星期日")
	if (todayDate.getDay() == 1) document.write("星期一")
	if (todayDate.getDay() == 2) document.write("星期二")
	if (todayDate.getDay() == 3) document.write("星期三")
	if (todayDate.getDay() == 4) document.write("星期四")
	</script> </td>
    </dd>
</dl>
    
<div class="clear"></div>
<div class="bar">
<div class="mian width">
	<dl class="nav">
    	<dd><a href="mainpage">首 页</a></dd>
    	<dd><a href="luntan">校园论坛</a></dd>
    	<dd><a href="yj">预警系统</a></dd>
        <dt><a href="hutai">后台设置</a></dt>
    </dl>
<div class="menu_main">
    	<div class="left02">
        	<ul class="mtitle">
            	<li><a href="#">三级预警</a></li>
            	<li><a href="#">三级预警</a></li>
            	<li><a href="#">三级预警</a></li>
            </ul>
            <ul class="listt">
            	 {%for item in open_news_article|slice:":10"%}
			 
                    	 <li>&bull;<a href="{{item.url}}" style="color:black">{{item.title|slice:"0:16"}}</a></li>          
               
                {%endfor%}
            </ul>
        </div>
      <div class="center01">
	<div class="yijx width">
           	  <dl class="width bttitle bttitle01"><dt></dt><dd class="bttext bttext01"><font>预警</font>系统</dd><dd class="btright btright01"></dd></dl>
                  <ul class="liys01">
               	    	{%for item in open_news_article|slice:"11:15"%}
			 
                    	 <li>&bull;<a href="{{item.url}}" style="color:black">{{item.title|slice:"0:16"}}</a></li>          
               
                {%endfor%}
                  </ul>
            </div>
          <dl class="gt margin_top">
              <dt>近三个月蜜柑话题的追踪监控</dt>
              <dd><img src="static/images/yuq35.jpg" width="275" height="148" /></dd>
        </dl>
        </div>
   	  	<div class="right">
		  <div class="search">
            	{% if error %}
        	<p style="color: red;">Please submit a search term.</p>
    		{% endif %}
    	
        <form action="search" method="get">
            	<input name="q" type="text" class="input01" />
        <select name=""></select>
              <a href=search_results><input name="" type="submit" class="input02" value=" " /></a>
		</form>
            </div>
		  <div class="hotp paih margin_top">
		    <dl class="width bttitle">
		      <dt></dt>
		      <dd class="bttext"><img src="static/images/yuq34.jpg" width="14" height="20" /> <font>焦点</font>舆情追踪</dd>
		      <dd class="btright"></dd>
	        </dl>
		    <div class="hotmain paihmian01">
		      <ul class="hotli">
		        <li><a href="#">原发帖时间:<span>2013年1月11日</span></a>点击量：<span>8545次</span></li>
		        <li><a href="#">原发帖时间:<span>2011年5月30日</span></a>点击量：<span>7125次</span></li>
		        <li><a href="#">原发帖时间:<span>2013年11月23日</span></a>点击量：<span>4736次</span></li>
		        <li><a href="#">原发帖时间:<span>2014年10月6日</span></a>点击量：<span>4374次</span></li>
		        <li><a href="#">原发帖时间:<span>2013年6月5日</span></a>点击量：<span>2746次</span></li>
	          </ul>
	        </div>
	      </div>
   	  	</div>
    </div>
    <div class="footer width">版权所有：重庆邮电大学與情小组版权所有</div>
</div>
</div>
<div class="clear"></div>

      

{%endblock%}

